<html style="height: 100%">
<head>
    <title>Test Platform - Index</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/base.css">
    <!-- production version, optimized for size and speed -->
    <script src="../js/common/vue2.js"></script>
    <script src="../js/util/DocumentUtils.js"></script>
    <script src="../js/util/RequestUtils.js"></script>
</head>
<body style="min-height: 100%;margin-top: 0;margin-bottom: 0; display: flex;flex-direction: column">
<div id="app">
    <div style="width: 100%;height: 100px;background: steelblue;">
        <div>
            <ul style="list-style: none">
                <li style="background-color: mediumaquamarine;display: inline-block;"><a
                        href="documentation/index.html">Documentation</a></li>
            </ul>
        </div>
        <div style="text-align: center;font-weight: bolder;">
            Test Platform
        </div>
        <div style="text-align: center;font-size: smaller;">Life Saver</div>
    </div>
    <p>Welcome to test platform,<span v-if="isLogin" style="text-decoration-line: underline;">{{userId}}</span><span
            v-else>you can <a href="login.html?close=false">login</a></span></p>
    <ul>
	<!--
        <li><a href="dubbo-tools.html">Dubbo Tools</a></li>
        -->
	<!--
        <li><a href="db-export.html">Database Tools</a></li>
        -->
	<!--
        <li><a href="redis-tools.html">Redis Tools</a></li>
        -->
        <li><a href="regex-matcher.html">Regex Matcher</a></li>
        <li><a href="string-convert.html">String Converters</a></li>
        <li><a href="url-utilities.html">URL Tools</a></li>
        <li><a href="json-pretty.html">JSON Tools</a></li>
	<!--
        <li><a href="time-tools.html">Time Tools</a></li>
        -->
	<!--
        <li><a href="ad-tools.html">Ad Tools</a></li>
        -->
	<!--
        <li><a href="thrift-tools.html">Thrift Tools</a></li>
        -->
	<!--<li><a href="pipeline-enhancer.html">CICD/Pipeline Tools</a></li> -->
        <li><a href="function-transfer.html">Function Transfer</a></li>
        <li><a href="rpc.html">RPC</a></li>
        <li><a href="general-request-maker.html">General Request Maker</a></li>
        <li><a href="general-request-maker-index.html">General Request Maker - Index</a></li>
        <div style="display: flex;flex-wrap: wrap;margin-right: 20px">
            <div style="display: inline" class="config-list-item">
                <a href="general-request-maker.html">Create a new Playground...</a>
            </div>
            <div style="display: inline" v-for="config in configs" class="config-list-item">
                <a :href="'general-request-maker.html?initKey=' + config">{{config}}</a>
            </div>
        </div>
    </ul>
</div>

<div style="display: flex;flex-direction: column;align-items: center;justify-content:flex-end;flex-grow: 1">
    <footer id="footer">
        <p style="">Designed by Fulton Shaw</p>
    </footer>
</div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            configs: [],
            isLogin: false,
            userId: ""
        },
        mounted() {
            let _this = this
            RequestUtils.request({
                uri: "/user/isLogin",
                async: true
            }, function (resp) {
                let isLogin = resp === "true"
                if (isLogin) {
                    RequestUtils.request({
                        uri: "/user/userId",
                        async: false
                    }, function (userId) {
                        _this.userId = userId
                        _this.isLogin = true
                    })
                }
            })
            RequestUtils.request({
                    uri: '/user/listConfigs',
                    async: true
                }, {
                    success(resp) {
                        _this.configs = JSON.parse(resp)
                    },
                    fail(code, resp) {
                        alert("failed to load configs, response:" + resp)
                    }
                }
            )
        }
    })



</script>

</html>
